<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
    <title>Витрина товаров</title>
</head>

<body>
    <a href="/orders" style="float: right;"><b>ЗАКАЗЫ &cudarrr;</b></a>
    <a href="/cart/items" style="float: right;"><b>КОРЗИНА &cudarrr;</b></a>

    <table style="width: 70%; margin-left: auto; margin-right: auto;">
        <tr>
            <td>
                <form method="GET" th:action="@{/main/items}">
                    <p>
                        <label for="search">Найти: </label>
                        <input id="search" name="search" style="width: 300px;" th:value="${search}">
                        <button type="submit">&#128269;</button>
                    </p>

                    <p>
                        <label for="sort">Сортировка: </label>
                        <select id="sort" name="sort" onchange="this.form.submit()">
                            <option value="NO" th:selected="${sort == 'NO'}">нет</option>
                            <option value="ABC" th:selected="${sort == 'ABC'}">по алфавиту</option>
                            <option value="PRICE" th:selected="${sort == 'PRICE'}">по цене</option>
                        </select>
                    </p>

                    <p>
                        <label for="pageSize">Число товаров: </label>
                        <select id="pageSize" name="pageSize" onchange="this.form.submit()">
                            <option value="5" th:selected="${pageSize == 5}">5</option>
                            <option value="10" th:selected="${pageSize == 10}">10</option>
                            <option value="20" th:selected="${pageSize == 20}">20</option>
                            <option value="50" th:selected="${pageSize == 50}">50</option>
                            <option value="100" th:selected="${pageSize == 100}">100</option>
                        </select>
                    </p>

                    <p>
                        <button th:if="${hasPrevious}" name="pageNumber" th:value="${pageNumber - 1}">&lt;</button>
                        <span th:text="'Страница: ' + ${pageNumber}"></span>
                        <button th:if="${hasNext}" name="pageNumber" th:value="${pageNumber + 1}">&gt;</button>
                    </p>
                </form>
            </td>
        </tr>

        <tr th:each="itemsRow : ${items}">
            <td th:each="item : ${itemsRow}">
                <table>
                    <tr>
                        <td>
                            <a th:href="@{'/items/' + ${item.id}}">
                                <img th:src="@{${item.imgPath}}" width="300" height="300">
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align: left; padding-left: 4px;">
                            <b>
                                <span th:text="${item.title}"></span>
                                <span th:text="${item.price + ' руб.'}" style="margin-left: 10px;"></span>
                            </b>
                        </td>
                    </tr>
                    <tr>
                        <td th:text="${item.description}"></td>
                    </tr>
                    <tr>
                        <td>
                            <form th:action="@{'/main/items/' + ${item.id}}" method="post">
                                <div th:if="${item.count == 0}">
                                    <button name="action" value="add" style="float: right;">В корзину</button>
                                </div>
                                <div th:if="${item.count > 0}">
                                    <button name="action" value="minus">-</button>
                                    <span th:text="${item.count}"></span>
                                    <button name="action" value="plus">+</button>
                                    <button name="action" value="delete" style="float: right;">&cross;</button>
                                </div>
                            </form>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
