# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
/out/

# Environment config 
.env  

# PostgreSQL 
pgdata/  

# Docker
docker-compose.override.yml  
  
# Eclipse 

.classpath
.project
.settings/
*.launch
/bin/ 

# IntelliJ IDEA
 
.idea/
*.iml

# Windows OS

Thumbs.db
ehthumbs.db

# Logs

*.log
*.tmp
*.swp

# Java
*.jar
*.war
*.ear
*.class

# Spring/Dev

.factorypath

# File uploads (local only)
 /uploads/