<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Корзина товаров</title>
</head>

<body>
<a href="/orders" style="float:right;">
    <b>ЗАКАЗЫ &cudarrr;</b>
</a>
<a href="/main/items" style="float:right;">
    <b>ГЛАВНАЯ &cudarrr;</b>
</a>

<table style="width:70%;margin-left:auto;margin-right:auto;">
    <tr th:each="item : ${items}">
        <td>
            <table>
                <tr>
                    <td>
                        <img width="300" height="300" th:src="@{${item.imgPath}}">
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: left; padding-left: 4px;">
                        <b>
                            <span th:text="${item.title}"></span>
                            <span th:text="${item.price + ' руб.'}" style="margin-left: 10px;"></span>
                        </b>
                    </td>
                </tr>
                <tr>
                    <td th:text="${item.description}"></td>
                </tr>
                <tr>
                    <td>
                        <form th:action="@{'/cart/items/' + ${item.id}}" method="post">
                            <button name="action" value="minus">-</button>
                            <span th:text="${item.count}"></span>
                            <button name="action" value="plus">+</button>
                            <button name="action" value="delete" style="float:right;">&cross;</button>
                        </form>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

    <tr>
        <td style="text-align:right">
            <b th:text="'Итого: ' + ${total} + ' руб.'"></b>
        </td>
    </tr>
    <tr>
        <td style="text-align:right">
          <form th:action="@{/orders/buy}" method="post" th:if="${items.size() > 0}">
                <button>Купить</button>
            </form>
        </td>
    </tr>
</table>
</body>
</html>
